body {
    background-color: azure;
    margin: 0;
    font-family: 'Overlock', cursive;
    font-size: 120%;
    text-align: center;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    line-height: 2;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    line-height: 1.8;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

a:hover {
    color: #eaf6f6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #c1d8da;
    border-width: 5px;
    width: 6%;
}

.top-container {
    background-color: #c1d8da;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    margin: 100px 0px 100px 0px;
}

.bottom-container {
    background-color: #66BFBF;
    position: relative;
    padding: 40px;
    color: #eaf6f6;
    font-family: 'Montserrat', sans-serif;
}

.top-moon {
    position: relative;
    top: 50px;
    scale: 70%;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250;
    bottom: 300px;
}

.underline {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
    padding: 50px auto 20px;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
    image-rendering: 25%;
}

.code-img {
    margin-right: 30px;
    width: 25%;
    float: left;
}

.code-img2 {
    width: 25%;
    position: relative;
    right: 0px;
    margin-left: 30px;
    float: right;
}

.contact-message {
    width: 50%;
    margin: 40px auto 60px;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    background: #11cdd4;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    text-decoration: none;
}

.copyright {
    color: #66BFBF;
    font: 0.75em;
    padding: 20px 0px;
}